body{
    background-image: url("../imagenes/eldenDragon.png");
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    background-size: cover; /* Cubre todo el área disponible */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    height: auto;
    background-attachment: fixed; 
    --opacidad-negro: 0.5; /* estas dos líneas es para oscurecer el fondp*/
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../imagenes/eldenDragon.png");
}

  .cinzel-font{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1000;
    color: rgb(170, 99, 7);
  }
  .exo-font{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .menu{
    list-style: none;
    padding: 0;
    background-color: rgb(100, 80, 79);
    width: 90%;
    max-width: 1000px;
    margin:auto;
  }

  .menu li a{
    text-decoration: none;/*esto es para que se quite la decoración del texto*/
    color:rgb(208, 214, 214);
    padding: 20px;
    display: block;
  }
  .menu li{
    display:inline-block; /*esto es para que se quede a lo largo, en vez de una lista para abajo*/
    text-align: center;
  }

  .menu li a:hover{ /*esto es para cuando pases el ratón por encima, se cambie de color*/
    background-color: rgb(128, 23, 23);
  }
 
  .texto{
    float: left;
    width: 20%;
    padding-left: 5%;
   height: 20%;
   font-size: 500;
   color: aliceblue;
    
  }
  .texto2{
   height: 20%;
   font-size: 500;
   color: aliceblue;
   margin:auto;
   padding-left: 5%;
   padding-right: 7%;
  }

  .titulo {
    color: rgb(201, 185, 183);
    padding-left: 11%;
  }

  .titulo2{
    margin-right: 5%;
    color: rgb(201, 185, 183);
    display:block;
    padding-left: 5%;
  }

  .video{
    text-align:right;
    padding-right: 12%;
  }

  img{
    width: 35%;
  }

  .img2{
    width: 20%;
  }

  .img3{
    width: 38%;
    text-align: center;
    padding-left: 5%;
  }

  footer{
  margin-top: 20%;
  }